<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse header-background-color header-text-prop">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/<%= @acess %>/">Transtornos</a></li>
      <li><a href="/<%= @acess %>/sintoma">Sintomas</a></li>
      <li><a href="/<%= @acess %>/categoria">Categorias</a></li>
      <li><a href="/<%= @acess %>/transtornoNaoSolucionado">Transtornos sem resposta</a></li>
      <li><a href="/<%= @acess %>/graficos">Graficos</a></li>
    </ul>
  </div>
</nav>
<div class="row list-dashboard">
  <div class="col-lg-offset-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 col-lg-4">
    <h2>Editar Transtorno</h2>
    <form action="/<%= @acess %>/updateTranstorno" method="post">
        <input type="hidden" name="id" value="<%= @transtorno.id %>">
        Nome: <br><input name="nome" type="text" value="<%= @transtorno.nome %>">
        <br>
        Quantidade mínima de sintomas: <br><input name="qtd" type="number" min="0" value="<%= @transtorno.min_qtd_sint %>">
        <br>
        Página no DSM: <br><input name="pg" type="number" min="0" value="<%= @transtorno.pagina %>">
        <br>
        Categoria:<br>
        <select name="c_id">
        <% @categorium.each do |x| %>
          <% if x.id == @transtorno.categorium_id %>
            <option selected value="<%= x.id %>"><%= x.nome %></option>
          <% else %>
            <option value="<%= x.id %>"><%= x.nome %></option>
          <% end %>
        <% end %>
        </select>
        <br>
        <a href="/<%= @acess %>"><button class="btn btn-primary" type="submit">Voltar</button></a>
      <button class="btn btn-primary" type="submit" value="Submit">Salvar</button>
    </form>
  </div>
</div>
