<h1>Categorias</h1>
<table>
  <tr>
    <th>Nome</th>
    <th></th>
  </tr>
  <% @categorium.each do |category| %>
    <tr>
      <td><%= category.nome %></td>
      <td>
        <form action="/<%= @acess %>/editCategoria" method="post">
          <input type="hidden" name="id" value="<%= category.id %>">
          <button class="btn btn-primary" type="submit" value="Submit">Editar</button>
        </form>
      </td>
      <td>
        <form action="/<%= @acess %>/deleteCategoria" method="post">
          <input type="hidden" name="id" value="<%= category.id %>">
          <button class="btn btn-primary" type="submit" value="Submit">Deletar</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>
<a href="/<%= @acess %>/novaCategoria">Nova Categoria</a>
