<h1>Transtornos Não Solucionados</h1>
<table>
  <tr>
    <th>Identificador</th>
    <th></th>
  </tr>
  <% @transtornosNaoSolucionado.each do |x| %>
    <tr>
      <td><%= x.id %></td>
      <td>
        <form action="/<%= @acess %>/showTranstornoNaoSolucionado" method="post">
          <input type="hidden" name="id" value="<%= x.id %>">
          <button class="btn btn-primary" type="submit" value="Submit">Mostrar</button>
        </form>
      </td>
      <td>
        <form action="/<%= @acess %>/deleteTranstornoNaoSolucionado" method="post">
          <input type="hidden" name="id" value="<%= x.id %>">
          <button class="btn btn-primary" type="submit" value="Submit">Deletar</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>
