<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse header-background-color header-text-prop">
    <ul class="nav navbar-nav">
      <li><a href="/<%= @acess %>/">Transtornos</a></li>
      <li><a href="/<%= @acess %>/sintoma">Sintomas</a></li>
      <li><a href="/<%= @acess %>/categoria">Categorias</a></li>
      <li class="active"><a href="/<%= @acess %>/transtornoNaoSolucionado">Transtornos sem resposta</a></li>
    </ul>
  </div>
</nav>
<div class="row list-dashboard" style="padding-top:30px;">
  <div class="col-lg-offset-3 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 col-lg-6">
    <table>
      <tr>
        <th>Identificador</th>
        <th></th>
      </tr>
      <% @transtornosNaoSolucionado.each do |x| %>
        <tr>
          <td><%= x.id %></td>
          <td>
            <form action="/<%= @acess %>/showTranstornoNaoSolucionado" method="post">
              <input type="hidden" name="id" value="<%= x.id %>">
              <button class="btn btn-primary" type="submit" value="Submit">Mostrar</button>
            </form>
          </td>
          <td>
            <form action="/<%= @acess %>/deleteTranstornoNaoSolucionado" method="post">
              <input type="hidden" name="id" value="<%= x.id %>">
              <button class="btn btn-danger" type="submit" value="Submit">Deletar</button>
            </form>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
