<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse header-background-color header-text-prop">
    <ul class="nav navbar-nav">
      <li><a href="/">Página inicial</a></li>
      <li class="active"><a href="/graficos">Gráficos</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScOD4nMiGEa56j58nTx3A-sNttsWzdBV3djx7OEIhBWplCKzQ/viewform?c=0&w=1">Validação</a></li>
    </ul>
  </div>
</nav>

<div class="header-general">
</div>

<div class="text-center" style="padding-bottom: 10px;">
  <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" Style="padding-top:10px;">
    <h2>DSM</h2>
    <p>
      Essa seção tem com foco em mostrar informações das pesquisas feitas no sistema de modo visual, apresentando sintomas mais e menos pesquisados, transtornos mais e menos pesquisados e os três principais transtornos que tem as maiores ocorrências de outros transtornos associados a eles no resultado das buscas efetuadas, apresentando, por exemplo: nas consultas feitas pelos usuários em que aparece o transtorno X, em 65% delas aparece associado o transtorno Y.
    </p>
  </div>
  <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 text-left">
    <ul>
      <% @transtornosAssociados.each do |x| %>
        <li>Das <%= x.second["T1QTD"] %> consultas que resultam <b><%= x.second["T1"] %></b>, em <%= x.second["T2QTD"] %> (%<%= x.second["T2P"] %>) aparecem tambem <b><%= x.second["T2"] %></b></li>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-offset-2 col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <h3>Transtornos mais pesquisados</h3>
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
          <!-- Gerando as barras dos graficos e medidores -->
          <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate-numbers">
              <div style="margin-bottom: 10px;margin-top: -13px;">100</div><br>
              <div style="margin-bottom: 5px;">50</div><br>
              <div>0</div><br>
            </div>
          <% contador=0 %>
          <% @transtornosHashNome.first(5).each do |x,y| %>
            <% contador+=1 %>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate graphics-generate-color-<%= contador %>" style="height:<%= y %>px;margin-top: <%= 100-y %>px;">
              </div>
          <% end %>
          <div class="graphics-generate-hr graphics-generate-hr-100"></div>
          <div class="graphics-generate-hr graphics-generate-hr-50"></div>
          <div class="graphics-generate-hr graphics-generate-hr-0"></div>
          </div>
        </div>
        <!-- Gerando os nomes e porcentagens -->
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <% contador=0 %>
        <% @transtornosHashNome.first(5).each do |x,y| %>
          <% contador+=1 %>
          <div class ="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
              <div class="graphics-generate-icon graphics-generate-color-<%= contador %>">
              </div>
              <span class="graphics-generate-text">(<%= y %>%) <%= x %><span>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <h3>Transtornos menos pesquisados</h3>
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
          <!-- Gerando as barras dos graficos e medidores -->
          <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate-numbers">
              <div style="margin-bottom: 10px;margin-top: -13px;">100</div><br>
              <div style="margin-bottom: 5px;">50</div><br>
              <div>0</div><br>
            </div>
          <% contador=0 %>
          <% @transtornosHashNome.to_a.last(5).reverse.each do |x,y| %>
            <% contador+=1 %>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate graphics-generate-color-<%= contador %>" style="height:<%= y %>px;margin-top: <%= 100-y %>px;">
              </div>
          <% end %>
          <div class="graphics-generate-hr graphics-generate-hr-100"></div>
          <div class="graphics-generate-hr graphics-generate-hr-50"></div>
          <div class="graphics-generate-hr graphics-generate-hr-0"></div>
          </div>
        </div>
        <!-- Gerando os nomes e porcentagens -->
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <% contador=0 %>
        <% @transtornosHashNome.to_a.last(5).reverse.each do |x,y| %>
          <% contador+=1 %>
          <div class ="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
              <div class="graphics-generate-icon graphics-generate-color-<%= contador %>">
              </div>
              <span class="graphics-generate-text">(<%= y %>%) <%= x %><span>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-offset-2 col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <h3>Sintomas mais pesquisados</h3>
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
          <!-- Gerando as barras dos graficos e medidores -->
          <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate-numbers">
              <div style="margin-bottom: 10px;margin-top: -13px;">100</div><br>
              <div style="margin-bottom: 5px;">50</div><br>
              <div>0</div><br>
            </div>
          <% contador=0 %>
          <% @sintomasHashNome.first(5).each do |x,y| %>
            <% contador+=1 %>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate graphics-generate-color-<%= contador %>" style="height:<%= y %>px;margin-top: <%= 100-y %>px;">
              </div>
          <% end %>
          <div class="graphics-generate-hr graphics-generate-hr-100"></div>
          <div class="graphics-generate-hr graphics-generate-hr-50"></div>
          <div class="graphics-generate-hr graphics-generate-hr-0"></div>
          </div>
        </div>
        <!-- Gerando os nomes e porcentagens -->
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <% contador=0 %>
        <% @sintomasHashNome.first(5).each do |x,y| %>
          <% contador+=1 %>
          <div class ="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
              <div class="graphics-generate-icon graphics-generate-color-<%= contador %>">
              </div>
              <span class="graphics-generate-text">(<%= y %>%) <%= x %><span>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <h3>Sintomas menos pesquisados</h3>
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
          <!-- Gerando as barras dos graficos e medidores -->
          <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate-numbers">
              <div style="margin-bottom: 10px;margin-top: -13px;">100</div><br>
              <div style="margin-bottom: 5px;">50</div><br>
              <div>0</div><br>
            </div>
          <% contador=0 %>
          <% @sintomasHashNome.to_a.last(5).reverse.each do |x,y| %>
            <% contador+=1 %>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate graphics-generate-color-<%= contador %>" style="height:<%= y %>px;margin-top: <%= 100-y %>px;">
              </div>
          <% end %>
          <div class="graphics-generate-hr graphics-generate-hr-100"></div>
          <div class="graphics-generate-hr graphics-generate-hr-50"></div>
          <div class="graphics-generate-hr graphics-generate-hr-0"></div>
          </div>
        </div>
        <!-- Gerando os nomes e porcentagens -->
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <% contador=0 %>
        <% @sintomasHashNome.to_a.last(5).reverse.each do |x,y| %>
          <% contador+=1 %>
          <div class ="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
              <div class="graphics-generate-icon graphics-generate-color-<%= contador %>">
              </div>
              <span class="graphics-generate-text">(<%= y %>%) <%= x %><span>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row col-lg-offset-4 col-lg-4 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8">
    <span style="font-size:80%;">*Os gráficos apresentados são alimentados com os transtornos que contemplam os sintomas inseridos!</span>
  </div>
</div>
