<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse header-background-color header-text-prop">
    <ul class="nav navbar-nav">
      <li><a href="/">Página inicial</a></li>
      <li class="active"><a href="/graphics">Gráficos</a></li>
      <li><a href="/info">Sobre</a></li>
      <li><a href="#">Validação</a></li>
    </ul>
  </div>
</nav>

<div class="header-general">
</div>






<div class="text-center">


  <h2>Top 5 Transtornos mais pesquisados</h2>
  <div class="row">
    <div class="col-lg-offset-5 col-lg-2 col-md-offset-4 col-lg-4 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
    <div class="row">
    <% contador=0 %>
    <% @transtornosHashNome.first(5).each do |x,y| %>
      <% contador+=1 %>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate graphics-generate-color-<%= contador %>" style="height:<%= y %>px;margin-top: <%= 100-y %>px;">
        </div>
    <% end %>
    </div>

    <% contador=0 %>
    <% @transtornosHashNome.first(5).each do |x,y| %>
      <% contador+=1 %>
      <div class ="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
          <div class="graphics-generate-icon graphics-generate-color-<%= contador %>">
          </div>
          <span class="graphics-generate-text"><%= x %><span>
        </div>
      </div>
    <% end %>
    </div>
  </div>




  <br>
  <h2>Top 5 Transtornos menos pesquisados</h2>
  <% @transtornosHashNome.to_a.last(5).reverse.each do |x,y| %>
    <%= "#{x} - apareceu: #{y}" %>
    <br>
  <% end %>
  <br>
  <h2>Top 5 Sintomas mais pesquisados</h2>
  <% @sintomasHashNome.first(5).each do |x,y| %>
    <%= "#{x} - apareceu: #{y}" %>
    <br>
  <% end %>
  <br>
  <h2>Top 5 Sintomas menos pesquisados</h2>
  <% @sintomasHashNome.to_a.last(5).reverse.each do |x,y| %>
    <%= "#{x} - apareceu: #{y}" %>
    <br>
  <% end %>
</div>
