<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse header-background-color header-text-prop">
    <ul class="nav navbar-nav">
      <li><a href="/">Página inicial</a></li>
      <li class="active"><a href="/graficos">Gráficos</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdiiayWG-GwaQzKm8XxaCWx_2GRNAsj8Zv8erD6wgj57zhzCg/viewform?c=0&w=1">Validação</a></li>
    </ul>
  </div>
</nav>

<div class="header-general">
</div>

<div class="text-center" style="padding-bottom: 10px;">
  <h2>Top 5 Transtornos mais pesquisados</h2>
  <div class="row">
    <div class="col-lg-offset-5 col-lg-2 col-md-offset-4 col-lg-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
      <!-- Gerando as barras dos graficos e medidores -->
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate-numbers">
        <div style="margin-bottom: 10px;margin-top: -13px;">100</div><br>
        <div style="margin-bottom: 5px;">50</div><br>
        <div>0</div><br>
      </div>
    <% contador=0 %>
    <% @transtornosHashNome.first(5).each do |x,y| %>
      <% contador+=1 %>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate graphics-generate-color-<%= contador %>" style="height:<%= y %>px;margin-top: <%= 100-y %>px;">
        </div>
    <% end %>
    <div class="graphics-generate-hr graphics-generate-hr-100"></div>
    <div class="graphics-generate-hr graphics-generate-hr-50"></div>
    <div class="graphics-generate-hr graphics-generate-hr-0"></div>
    </div>
    <!-- Gerando os nomes e porcentagens -->
    <% contador=0 %>
    <% @transtornosHashNome.first(5).each do |x,y| %>
      <% contador+=1 %>
      <div class ="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
          <div class="graphics-generate-icon graphics-generate-color-<%= contador %>">
          </div>
          <span class="graphics-generate-text">(<%= y %>%) <%= x %><span>
        </div>
      </div>
    <% end %>
    </div>
  </div>


  <br>
  <h2>Top 5 Transtornos menos pesquisados</h2>
  <div class="row">
    <div class="col-lg-offset-5 col-lg-2 col-md-offset-4 col-lg-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
      <!-- Gerando as barras dos graficos e medidores -->
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate-numbers">
        <div style="margin-bottom: 10px;margin-top: -13px;">100</div><br>
        <div style="margin-bottom: 5px;">50</div><br>
        <div>0</div><br>
      </div>
    <% contador=0 %>
    <% @transtornosHashNome.to_a.last(5).reverse.each do |x,y| %>
      <% contador+=1 %>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate graphics-generate-color-<%= contador %>" style="height:<%= y %>px;margin-top: <%= 100-y %>px;">
        </div>
    <% end %>
    <div class="graphics-generate-hr graphics-generate-hr-100"></div>
    <div class="graphics-generate-hr graphics-generate-hr-50"></div>
    <div class="graphics-generate-hr graphics-generate-hr-0"></div>
    </div>
    <!-- Gerando os nomes e porcentagens -->
    <% contador=0 %>
    <% @transtornosHashNome.to_a.last(5).reverse.each do |x,y| %>
      <% contador+=1 %>
      <div class ="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
          <div class="graphics-generate-icon graphics-generate-color-<%= contador %>">
          </div>
          <span class="graphics-generate-text">(<%= y %>%) <%= x %><span>
        </div>
      </div>
    <% end %>
    </div>
  </div>


  <br>
  <h2>Top 5 Sintomas mais pesquisados</h2>
  <div class="row">
    <div class="col-lg-offset-5 col-lg-2 col-md-offset-4 col-lg-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
      <!-- Gerando as barras dos graficos e medidores -->
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate-numbers">
        <div style="margin-bottom: 10px;margin-top: -13px;">100</div><br>
        <div style="margin-bottom: 5px;">50</div><br>
        <div>0</div><br>
      </div>
    <% contador=0 %>
    <% @sintomasHashNome.first(5).each do |x,y| %>
      <% contador+=1 %>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate graphics-generate-color-<%= contador %>" style="height:<%= y %>px;margin-top: <%= 100-y %>px;">
        </div>
    <% end %>
    <div class="graphics-generate-hr graphics-generate-hr-100"></div>
    <div class="graphics-generate-hr graphics-generate-hr-50"></div>
    <div class="graphics-generate-hr graphics-generate-hr-0"></div>
    </div>
    <!-- Gerando os nomes e porcentagens -->
    <% contador=0 %>
    <% @sintomasHashNome.first(5).each do |x,y| %>
      <% contador+=1 %>
      <div class ="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
          <div class="graphics-generate-icon graphics-generate-color-<%= contador %>">
          </div>
          <span class="graphics-generate-text">(<%= y %>%) <%= x %><span>
        </div>
      </div>
    <% end %>
    </div>
  </div>


  <br>
  <h2>Top 5 Sintomas menos pesquisados</h2>
  <div class="row">
    <div class="col-lg-offset-5 col-lg-2 col-md-offset-4 col-lg-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
      <!-- Gerando as barras dos graficos e medidores -->
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate-numbers">
        <div style="margin-bottom: 10px;margin-top: -13px;">100</div><br>
        <div style="margin-bottom: 5px;">50</div><br>
        <div>0</div><br>
      </div>
    <% contador=0 %>
    <% @sintomasHashNome.to_a.last(5).reverse.each do |x,y| %>
      <% contador+=1 %>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 graphics-generate graphics-generate-color-<%= contador %>" style="height:<%= y %>px;margin-top: <%= 100-y %>px;">
        </div>
    <% end %>
    <div class="graphics-generate-hr graphics-generate-hr-100"></div>
    <div class="graphics-generate-hr graphics-generate-hr-50"></div>
    <div class="graphics-generate-hr graphics-generate-hr-0"></div>
    </div>
    <!-- Gerando os nomes e porcentagens -->
    <% contador=0 %>
    <% @sintomasHashNome.to_a.last(5).reverse.each do |x,y| %>
      <% contador+=1 %>
      <div class ="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
          <div class="graphics-generate-icon graphics-generate-color-<%= contador %>">
          </div>
          <span class="graphics-generate-text">(<%= y %>%) <%= x %><span>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
