<script>
  $(document).ready(function() {
    $('#buttonSearchJs').click(function() {
      var inputVar = $('#inputValueJs').val();
        for (i = 0; i <= <%= @SintomasCad.count %>; i++) {
          $('#sintomaJs-'+i).show();
        }
        for (i = 0; i <= <%= @SintomasCad.count %>; i++) {
          var sintomaVar = $('#sintomaJs-'+i).text();

          if (sintomaVar.toLowerCase().includes(inputVar.toLowerCase())){
          }else{
            if(!$('#checkbox-'+i).is(":checked")){
              $('#sintomaJs-'+i).hide();
            }
          }
        }
    });
    $('#buttonCleanJs').click(function() {
      for (i = 0; i <= <%= @SintomasCad.count %>; i++) {
        $('#sintomaJs-'+i).show();
      }
    });

  })
</script>
<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse header-background-color header-text-prop">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Página inicial</a></li>
      <li><a href="/graficos">Gráficos</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdiiayWG-GwaQzKm8XxaCWx_2GRNAsj8Zv8erD6wgj57zhzCg/viewform?c=0&w=1">Validação</a></li>
    </ul>
  </div>
</nav>

<div class="header-img">
  <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-lg-offset-1 col-xs-10 header-text">
    <p>Acelere seus diagnósticos!</p>
  </div>
</div>

<!-- MODAL PESQUISA -->

<div class="modal fade" id="ModalSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <input placeholder="Filtrar sintomas" id="inputValueJs" type="text" />
        <input type="submit" id="buttonSearchJs" class="btn btn-primary" value="Filtrar" />
        <input type="submit" id="buttonCleanJs" class="btn btn-secondary" value="Limpar filtro" />
      </div>
      <div class="modal-body">
        <form action="/welcome" method="post">
          <div class="modal-scroll">
            <% @SintomasCad.each do |sintoma| %>
              <div id="sintomaJs-<%= sintoma.id %>">
                <input type="checkbox" id="checkbox-<%= sintoma.id %>" value="<%= sintoma.id %>" name="id[]"/><%= sintoma.nome %><br>
              </div>
            <% end %>
          </div>
        <div class="col-lg-offset-8 col-md-offset-8 col-sm-offset-8 col-xs-offset-4">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button class="btn btn-primary" type="submit" value="Submit">Pesquisar</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- BODY -->

<div class="home-experimenteJa">
  <button class="btn-experimenteJa" data-toggle="modal" data-target="#ModalSearch">Experimente Já!</button>
</div>

<div class="home-explication">
<h1>Como funciona?</h1>

  <div class="row">
    <div class="col-lg-offset-0 col-lg-4 col-md-offset-2 col-md-8 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
      <%= image_tag("usuario.png", :alt => "Imagem de um usuário no site", :class => "explication-usuario") %>
      <br />
      <div class="explication-text">
        O profissional acessará a plataforma
      </div>
    </div>

    <div class="col-lg-offset-0 col-lg-4 col-md-offset-2 col-md-8 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
      <%= image_tag("livro.jpg", :alt => "Imagem de um livro", :class => "explication-livro") %>
      <br />
      <div class="explication-text">
        Enviará os sintomas  dos transtornos que deseja pesquisar
      </div>
    </div>

    <div class="col-lg-offset-0 col-lg-4 col-md-offset-2 col-md-8 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8" style="margin-bottom:10px;">
      <%= image_tag("pesquisa.jpg", :alt => "Imagem do site pesquisando", :class => "explication-pesquisa") %>
      <br />
      <div class="explication-text">
        E o site listará quais transtornos contemplam os sintomas inseridos
      </div>
    </div>
  </div>

</div>
