<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse header-background-color header-text-prop">
    <ul class="nav navbar-nav">
      <li><a href="/">Página inicial</a></li>
      <li><a href="/graphics">Gráficos</a></li>
      <li><a href="/info">Sobre</a></li>
      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdiiayWG-GwaQzKm8XxaCWx_2GRNAsj8Zv8erD6wgj57zhzCg/viewform?c=0&w=1">Validação</a></li>
    </ul>
  </div>
</nav>

<div class="header-general">
</div>

    <% if @pesquisaDoenca != [] %>
      <% @pesquisaDoenca.each do |pD| %>
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6 search-style">
            <div class="col-lg-10">
              <br>
              <b>Transtorno: </b><%= pD.nome %><br>
              <b>Categoria: </b><%= pD.categorium_id %><br>
              <b>Quantidade mínima de sintomas: </b><%= pD.min_qtd_sint %><br>
              <b>Sintomas:</b><br>
              <% @pesquisaSintoma.each do |chave,valor| %>
                <% if pD.id == chave%>
                  <% valor.each do |x|%>
                    <!-- pesquina no array de id's dos sintomas pesquisados se contem o id do sintoma atual e se n é um array vazio -->
                    <% if @sintomasPesquisadosOrganizado.grep(x.id) != [] %>
                      <%= image_tag("find-search.png", :size => "20x20") %>
                    <% else %>
                      <%= image_tag("none-search.png", :size => "20x20") %>
                    <% end %>
                    <!-- DEBUG -->
                    <% if x.sintoma_obrigatorio %>
                    <%= "[Sintoma Obrigatório]" %>
                    <% end %>
                    <!-- Mostra nome do sintoma -->
                    <%= x.nome%>
                    <br>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="col-lg-2 search-style-page">
              Pagina no DSM-5<br>
              <div class="search-style-page-num">
                <%= pD.pagina %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
    <div class="row">
      <div class="col-lg-offset-5 col-lg-2 search-style-none">
        <b><%= "Nenhum transtorno encontrado!"%></b>
      </div>
    </div>
    <% end %>
