<header>
  <div class="header-general">
    <div class="col-lg-offset-2 col-lg-2 header-button">
      <a href="/" class="header-button-text" style="text-decoration:none"><b>Home</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="/graphics" class="header-button-text" style="text-decoration:none"><b>Gráficos</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="/info" class="header-button-text" style="text-decoration:none"><b>Sobre</b></a>
    </div>
  </div>
</header>
    <% if @pesquisaDoenca != [] %>
      <% @pesquisaDoenca.each do |pD| %>
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6 search-style">
            <div class="col-lg-10">
              <br>
              <b>Transtorno: </b><%= pD.nome %><br>
              <b>Sintomas:</b>

              <!-- DEBUG -->
               QTD min:<%= pD.min_qtd_sint %>
               
              <br>
              <% @pesquisaSintoma.each do |chave,valor| %>
                <% if pD.id == chave%>
                  <% valor.each do |x|%>
                    <!-- pesquina no array de id's dos sintomas pesquisados se contem o id do sintoma atual e se n é um array vazio -->
                    <% if @sintomasPesquisadosOrganizado.grep(x.id) != [] %>
                      <%= image_tag("find-search.png", :size => "20x20") %>
                    <% else %>
                      <%= image_tag("none-search.png", :size => "20x20") %>
                    <% end %>
                    <!-- Mostra nome do sintoma -->
                    <%= x.nome%>

                    <!-- DEBUG -->
                    <% if x.sintoma_obrigatorio %>
                      <%= "[Sintoma Obrigatório]" %>
                    <% end %>

                    <br>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="col-lg-2 search-style-page">
              Pagina no DSM-5<br>
              <div class="search-style-page-num">
                <%= pD.pagina %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
    <div class="row">
      <div class="col-lg-offset-5 col-lg-2 search-style-none">
        <b><%= "Nenhum transtorno encontrado!"%></b>
      </div>
    </div>
    <% end %>
