<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse header-background-color header-text-prop">
    <ul class="nav navbar-nav">
      <li><a href="/">Página inicial</a></li>
      <li><a href="/graficos">Gráficos</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdiiayWG-GwaQzKm8XxaCWx_2GRNAsj8Zv8erD6wgj57zhzCg/viewform?c=0&w=1">Validação</a></li>
    </ul>
  </div>
</nav>

<div class="header-general">
</div>
    <div class="row col-lg-offset-4 col-lg-4 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8">
      <a href="#" data-toggle="modal"  data-target="#ModalTree">Gostaria de saber como chegamos a solução apresentada? Clique aqui!</a>
    </div>

    <% if @pesquisaTranstorno != [] %>
      <% @pesquisaTranstorno.each do |pD| %>
        <div class="row">
          <div class="col-lg-offset-3 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 col-lg-6 search-style">
            <div class="col-lg-10">
              <br>
              <b>Transtorno: </b><%= pD.nome %><br>
              <b>Categoria: </b><%= Categorium.find(pD.categorium_id).nome %><br>
              <b>Quantidade mínima de sintomas: </b><%= pD.min_qtd_sint %><br>
              <b>Sintomas:</b><br>

              <% @pesquisaSintoma.each do |chave,valor| %>
                <% if pD.id == chave%>
                  <% valor.each do |x|%>
                    <!-- pesquina no array de id's dos sintomas pesquisados se contem o id do sintoma atual e se n é um array vazio -->
                    <% if @sintomasPesquisadosOrganizado.grep(x.id) != [] %>
                      <%= image_tag("find-search.png", :size => "20x20") %>
                    <% else %>
                      <%= image_tag("none-search.png", :size => "20x20") %>
                    <% end %>
                    <% if x.sintoma_obrigatorio %>
                    <b><%= "[Sintoma Obrigatório]" %></b>
                    <% end %>
                    <!-- Mostra nome do sintoma -->
                    <%= x.nome%>
                    <br>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="col-lg-2 search-style-page">
              Pagina no DSM-5<br>
              <div class="search-style-page-num">
                <%= pD.pagina %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
    <div class="row">
      <div class="col-lg-offset-5 col-lg-2 search-style-none">
        <b><%= "Nenhum transtorno contemplam as regras!"%></b>
      </div>
    </div>
    <% end %>

    <!-- TRANSTORNOS COM PELOMENOS 1 SINTOMA RELACIONADO COM A BUSCA -->
    <% if @transtornoPelomenosUmSintoma != [] %>
    <h2 class="text-center">Segue abaixo os transtornos com no mínimo um sintoma dos pesquisados</h2>
      <% @transtornoPelomenosUmSintoma.each do |pD| %>
        <div class="row">
          <div class="col-lg-offset-3 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 col-lg-6 search-style">
            <div class="col-lg-10">
              <br>
              <b>Transtorno: </b><%= pD.nome %><br>
              <b>Categoria: </b><%= Categorium.find(pD.categorium_id).nome %><br>

              <!-- CONTA QUANTOS SINTOMAS O TRANSTORNO TEM E COLCOA COR VERMELHA CASO N SEJA O MINIMO -->
              <%cont = 0%>
              <% @pesquisaSintoma.each do |chave,valor| %>
                <% if pD.id == chave%>
                  <% valor.each do |x|%>
                    <% if @sintomasPesquisadosOrganizado.grep(x.id) != [] %>
                      <% cont+=1 %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              <% if pD.min_qtd_sint > cont %>
                <span style="color:#C31717;">
                  <b>Quantidade mínima de sintomas: </b>
                  <%= pD.min_qtd_sint %>
                </span>
              <% else %>
                <b>Quantidade mínima de sintomas: </b>
                <%= pD.min_qtd_sint %>
              <% end %>
              <br>
              <b>Sintomas:</b><br>

              <% @pesquisaSintoma.each do |chave,valor| %>
                <% if pD.id == chave%>
                  <% valor.each do |x|%>
                    <!-- pesquina no array de id's dos sintomas pesquisados se contem o id do sintoma atual e se n é um array vazio -->
                    <% if @sintomasPesquisadosOrganizado.grep(x.id) != [] %>
                      <%= image_tag("find-search.png", :size => "20x20") %>
                      <span>
                      <% if x.sintoma_obrigatorio %>
                        <b><%= "[Sintoma Obrigatório]" %></b>
                      <% end %>
                      <!-- Mostra nome do sintoma -->
                      <%= x.nome%>
                    <% else %>
                      <%= image_tag("none-search.png", :size => "20x20") %>
                      <% if x.sintoma_obrigatorio %>
                      <span style="color:#C31717;">
                      <b><%= "[Sintoma Obrigatório]" %></b>
                      <% end %>
                      <!-- Mostra nome do sintoma -->
                      <%= x.nome%>
                    <% end %>
                    <br>
                  </span><!-- span para mudar a cor do sintoma obrigatório -->
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="col-lg-2 search-style-page">
              Pagina no DSM-5<br>
              <div class="search-style-page-num">
                <%= pD.pagina %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>



    <!-- MODAL ARVORE-->

    <div class="modal fade" id="ModalTree" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title" id="ModalInfoTitle">Árvore de decisão</h5>
          </div>
          <div class="modal-body">
            <div class="modal-scroll">
              A imagem abaixo mostra os passos usados pelo sistema para decidir quais transtornos atendem os sintomas inseridos:
              <br>
              <img src="https://s1.postimg.org/j0pjqwmu7/arvore_de_decis_o.jpg" style="display: block;margin: 0 auto;" alt="Árvore de decisão">
            </div>
            <div class="col-lg-offset-9 col-md-offset-9 col-sm-offset-9 col-xs-offset-5">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
