<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse header-background-color header-text-prop">
    <ul class="nav navbar-nav">
      <li><a href="/<%= @acess %>/">Transtornos</a></li>
      <li><a href="/<%= @acess %>/sintoma">Sintomas</a></li>
      <li><a href="/<%= @acess %>/categoria">Categorias</a></li>
      <li><a href="/<%= @acess %>/transtornoNaoSolucionado">Transtornos sem resposta</a></li>
      <li class="active"><a href="/<%= @acess %>/graficos">Graficos</a></li>
    </ul>
  </div>
</nav>
<div class="row list-dashboard">
  <div class="col-lg-offset-3 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 col-lg-6">

    <h2>Editar Informação de Grafico</h2>
    <form action="/<%= @acess %>/updateGraficos" method="post">
      <input type="hidden" name="id" value="<%= @graficos.id %>">
      Grafico ID: <br><input name="grafico_id" id="grafico_id" type="number" min="1" value="<%= @graficos.grafico_id %>"><br>
      Porcentagem: <br><input name="porcentagem" id="porcentagem" type="number" min="0" value="<%= @graficos.porcentagem %>"><br>
      Entrevistados: <br><input name="qtd_entrevistados" id="qtd_entrevistados" type="text" value="<%= @graficos.qtd_entrevistados %>"><br>
      Ano: <br><input name="ano" id="ano" type="number" min="1900" value="<%= @graficos.ano %>"><br>
      Estudo: <br><input name="estudo" id="estudo" type="text" value="<%= @graficos.estudo %>">

      <button class="btn btn-primary" type="submit" value="Submit">Salvar</button>
    </form>
    <a href="/<%= @acess %>/graficos"><button class="btn btn-primary" type="submit">Voltar</button></a>
    <p>
      OBS: Um grafico pode ser composto apenas por:<br>10 anos diferentes<br>3 estudos diferentes
    </p>
  </div>
</div>
